.title {
  font-size: 2rem;
  line-height: 1.5;
}
.success {
  color: var(--primary-color);
}
.warning {
  color: var(--warning-color);
}
.error {
  color: var(--error-color);
}

.message {
  font-size: 1.5rem;
  line-height: 1.5;
}
