.navbar {
  height: var(--nav-height);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--nav-bg-color);
}

.navbarBrand {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--nav-text-color);
}

@media screen and (min-width: 576px) {
  .navbarBrand {
    font-size: 2rem;
  }
}
